
<!DOCTYPE html>
<html>
<head>
<title>Sort a HTML Table Alphabetically</title>
<style>
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc { 
  background-image: url(/assets/images/up_arrow.png); 
}

.pretty th .desc { 
  background-image: url(/assets/images/down_arrow.png); 
}

</style>
</head>
<body>
<h1>RailsBridgeCorp Open Jobs</h1>
<table id="myTable">
  <tr>
    <th><%= sortable "title", "Job Title" %></th>
    <th><%= sortable "location" %></th>
    <th><%= sortable "date_posted", "Date Posted" %></th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, job_path(job) %> </td>
    <td><%=  job.location %> </td>
    <td><%=  job.date_posted %> </td>
  </tr>
  <% end %> 
</table>  

</body>
</html>
