
<!DOCTYPE html>
<html>
<head>
<title>Jobs Index Page</title>
</head>
<body>
<h1 class="page-header">RailsBridgeCorp Open Jobs</h1>
<table class="mytable">
  <tr>
    <th><%= sortable "title", "Job Title" %></th>
    <th><%= sortable "location" %></th>
    <th><%= sortable "date_posted", "Date Posted" %></th>
    <th><%= sortable "tags", "Tags" %></th>
  </tr>
  <% @jobs.each do |job| %>   
  <tr>
    <td><%= link_to job.title, job_path(job) %> </td>
    <td><%=  job.location %> </td>
    <td><%=  job.date_posted %> </td> 
    <% if job.tags.blank? %>
      <td> NA </td>
    <% else %>
       <td> 
        <% job.tags.each do |tag| %>
           <%= link_to tag.name, tag_path(tag) %> 
        <% end %>
        </td>    
      <% end %>
  </tr>   
  <% end %> 
</table>
<footer>Job Board Portal by <cite title="Rails Bridge">Rails Bridge</cite></footer>
</body>
</html>
