
<!DOCTYPE html>
<html>
<head>
<title>Jobs Index Page</title>
<style>
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

</style>
</head>
<body>
<h1>RailsBridgeCorp Open Jobs</h1>
<table class="mytable">
  <tr>
    <th><%= sortable "title", "Job Title" %></th>
    <th><%= sortable "location" %></th>
    <th><%= sortable "date_posted", "Date Posted" %></th>
    <th><%= sortable "tags", "Tags" %></th>
  </tr>
  <% @jobs.each do |job| %>   
  <tr>
    <td><%= link_to job.title, job_path(job) %> </td>
    <td><%=  job.location %> </td>
    <td><%=  job.date_posted %> </td> 
    <% if job.tags.blank? %>
      <td> NA </td>
    <% else %>
       <td> 
        <% job.tags.each do |tag| %>
           <%= link_to tag.name, tag_path(tag) %> 
        <% end %>
        </td>    
      <% end %>
  </tr>   
  <% end %> 
</table>
</body>
</html>
